@page
@model ScreepsWebsite.Pages.boostReactionsModel
@{
}
<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }

    td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    td img {
        padding: 0px 10px 0px 0px;
    }
</style>

@*<div class="dropdown">
    <button onclick="dropdownFunction()" class="dropbtn"><img src="/images/OH.jpg" alt="Hydroxide" style="padding-right: 10px" />Hydroxide</button>
    <div id="dropdown" class="dropdown-content">
    </div>
</div>*@

<table class="table" style="background-color:ghostwhite">
    <!-- Table Headers -->
    <tr>
        <th>Name</th>
        <th>Formula</th>
        <th>Time In Ticks</th>
        <th>Total Time In Ticks</th>
        <th>Body Part</th>
        <th>Effect</th>
        <th>Energy Saved With Each Boost</th>
        <th>SpawnTime Saved With Each Boost In Ticks</th>
        <th>Credit Cost With Each Boost Build From Raw</th>
        <th>Energy Saved / Credit Cost * Energy Price</th>
    </tr>

    <!-- Basic Header -->
    <tr style="background-color: grey">
        <td align="center" colspan="10"><b>Base Compounds</b></td>
    </tr>

    <!-- Reaction 1-->
    <tr>
        <td>
            <img src="~/images/reactions/OH.jpg" alt="hydroxide" />  hydroxide
        </td>
        <td>
            <img src="~/images/reactions/H.png" alt="hydrogen" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxygen" />
        </td>
        <td>
            20
        </td>
        <td>
            20
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
    </tr>

    <!-- Reaction 2 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZK.jpg" alt="zynthium keanite" />  zynthium keanite
        </td>
        <td>
            <img src="~/images/reactions/Z.png" alt="zynthium" style="padding: 0px" />
            +
            <img src="~/images/reactions/K.png" alt="keanium" />
        </td>
        <td>
            5
        </td>
        <td>
            5
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
    </tr>

    <!-- Reaction 3 -->
    <tr>
        <td>
            <img src="~/images/reactions/UL.jpg" alt="utrium lemergite" />  utrium lemergite
        </td>
        <td>
            <img src="~/images/reactions/U.png" alt="utrium" style="padding: 0px" />
            +
            <img src="~/images/reactions/L.png" alt="lemergium" />
        </td>
        <td>
            5
        </td>
        <td>
            5
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
    </tr>

    <!-- Reaction 4 -->
    <tr>
        <td>
            <img src="~/images/reactions/G.jpg" alt="hydroxide" />  hydroxide
        </td>
        <td>
            <img src="~/images/reactions/ZK.jpg" alt="zynthium keanite" style="padding: 0px" />
            +
            <img src="~/images/reactions/UL.jpg" alt="utrium lemergite" />
        </td>
        <td>
            5
        </td>
        <td>
            5
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
        <td>
            None
        </td>
    </tr>


    <!-- Tier 1 Header -->
    <tr style="background-color: grey">
        <td align="center" colspan="10"><b>Tier 1 Compounds</b></td>
    </tr>

    <!-- Reaction 1 -->
    <tr>
        <td>
            <img src="~/images/reactions/UH.jpg" alt="utrium hydride" />  utrium hydride
        </td>
        <td>
            <img src="~/images/reactions/U.png" alt="utrium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>ATTACK</b>
        </td>
        <td>
            +100% attack effectiveness
        </td>
        <td>
            60
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 2 -->
    <tr>
        <td>
            <img src="~/images/reactions/UO.jpg" alt="utrium oxide" />  utrium oxide
        </td>
        <td>
            <img src="~/images/reactions/U.png" alt="utrium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxygen" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +200% harvest effectiveness
        </td>
        <td>
            180
        </td>
        <td>
            6
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 3 -->
    <tr>
        <td>
            <img src="~/images/reactions/KH.jpg" alt="utrium hydride" />  utrium hydride
        </td>
        <td>
            <img src="~/images/reactions/K.png" alt="keanium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>CARRY</b>
        </td>
        <td>
            +50 capacity
        </td>
        <td>
            30
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 4 -->
    <tr>
        <td>
            <img src="~/images/reactions/KO.jpg" alt="keanium oxide" />  keanium oxide
        </td>
        <td>
            <img src="~/images/reactions/K.png" alt="keanium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxide" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>RANGED_ATTACK</b>
        </td>
        <td>
            +100% rangedAttack and rangedMassAttack effectiveness
        </td>
        <td>
            160
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 5 -->
    <tr>
        <td>
            <img src="~/images/reactions/LH.jpg" alt="lemergium hydride" />  lemergium hydride
        </td>
        <td>
            <img src="~/images/reactions/L.png" alt="lemergium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            15
        </td>
        <td>
            15
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +50% repair and build effectiveness without increasing the energy cost
        </td>
        <td>
            Build: 2.480 / Repair: 500 (Based on 1K work ticks)
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 6 -->
    <tr>
        <td>
            <img src="~/images/reactions/LO.jpg" alt="lemergium oxide" />  lemergium oxide
        </td>
        <td>
            <img src="~/images/reactions/L.png" alt="lemergium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxide" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>HEAL</b>
        </td>
        <td>
            +100% heal and rangedHeal effectiveness
        </td>
        <td>
            230
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 7 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZH.jpg" alt="zynthium hydride" />  zynthium hydride
        </td>
        <td>
            <img src="~/images/reactions/Z.png" alt="zynthium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            20
        </td>
        <td>
            20
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +100% dismantle effectiveness
        </td>
        <td>
            80
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 8 -->
    <tr>
        <td>
            <img src="~/images/reactions/ZO.jpg" alt="zynthium oxide" />  zynthium oxide
        </td>
        <td>
            <img src="~/images/reactions/Z.png" alt="zynthium" style="padding: 0px" />
            +
            <img src="~/images/reactions/O.png" alt="oxide" />
        </td>
        <td>
            10
        </td>
        <td>
            10
        </td>
        <td>
            <b>MOVE</b>
        </td>
        <td>
            +100% fatigue decrease speed
        </td>
        <td>
            30
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 9 -->
    <tr>
        <td>
            <img src="~/images/reactions/GH.jpg" alt="ghodium hydride" />  ghodium hydride
        </td>
        <td>
            <img src="~/images/reactions/G.jpg" alt="ghodium" style="padding: 0px" />
            +
            <img src="~/images/reactions/H.png" alt="hydrogen" />
        </td>
        <td>
            10
        </td>
        <td>
            15
        </td>
        <td>
            <b>WORK</b>
        </td>
        <td>
            +80% upgradeController effectiveness without increasing the energy cost
        </td>
        <td>
            Upgrade: 2.000 (Based on 1K work ticks)
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>

    <!-- Reaction 10 -->
    <tr>
        <td>
            <img src="~/images/reactions/G.jpg" alt="hydroxide" />  hydroxide
        </td>
        <td>
            <img src="~/images/reactions/ZK.jpg" alt="zynthium keanite" style="padding: 0px" />
            +
            <img src="~/images/reactions/UL.jpg" alt="utrium lemergite" />
        </td>
        <td>
            10
        </td>
        <td>
            15
        </td>
        <td>
            <b>TOUGH</b>
        </td>
        <td>
            -30% damage taken
        </td>
        <td>
            -20
        </td>
        <td>
            3
        </td>
        <td>
            --
        </td>
        <td>
            --
        </td>
    </tr>
</table>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function dropdownFunction() {
        document.getElementById("dropdown");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
                else {
                    openDropdown.classList.add('show');
                }
            }
        }
    }
</script>
