@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 30px;">What Screeps Data do you need?</h1>
    <table class="table">
        <tr>
            <th>
                Boost Reactions
            </th>
            <td>
                <a href="./boostReactions">A list with the cost and profit of a reaction</a>
            </td>
        </tr>
        <tr>
            <th>
                Remote Room Calculator
            </th>
            <td>
                <a href="./remoteRoomCalculator">Gives you all the info you need about the performance of your remote</a>
            </td>
        </tr>
        @*<tr>
            <th>
                Creep Size Calculator
            </th>
            <td>
                <a href="./creepSizeCalculator">Needs a description</a>
            </td>
        </tr>*@
    </table>
</div>
